<!DOCTYPE html>
<html>
<head>
  <title>Tenantcore</title>
  <%= stylesheet_link_tag    "tenantcore/application", media: "all" %>
  <%= javascript_include_tag "tenantcore/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
